[mysqld]

skip-host-cache
skip-name-resolve

character_set_server=utf8
collation_server=utf8_unicode_ci

tls_version = TLSv1.2
server-id = 01
log_bin = /var/log/mysql/mysql-bin.log
binlog_format = ROW
binlog_do_db = mydb